chex==0.1.85
distrax==0.1.5
dm-env==1.6
dm-haiku==0.0.11
dm-tree==0.1.8
flax==0.7.5
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
ipdb==0.13.13
keras==2.15.0
numpy==1.26.2
omegaconf==2.3.0
opencv-python==4.8.1.78
optax==0.1.7
orbax-checkpoint==0.4.3
rlax==0.1.6
tensorboard==2.15.1
tensorflow==2.15.0
tensorflow-probability==0.23.0
tqdm==4.66.1
jaxlib==0.4.30
jax==0.4.30
jax-cuda12-plugin==0.4.30
jax-cuda12-pjrt==0.4.30
flashbax==0.1.2
pandas==2.3.3
wandb==0.22.1